.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
